#nav-toggle {
    display: none;
}

.close {
    display: none;
}

.menu {
    position: fixed;
    z-index: 100;
    margin-top: 100px;
    height: 100vh;
    background-color: white;
    width: 100vw;
}

#nav-toggle span {
    position: absolute;
    right: 10px;
    top: 20px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: black;
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

@media (max-width: 600px) {
    #nav-toggle {
        display: block;
    }
}
